%% == Cover ==

%% Whether to enable coverage reporting. Default is `false'
{cover_enabled, true}.

%% Whether to print coverage report to console. Default is `false'
{cover_print_enabled, true}.

%% Whether to export coverage report to file. Default is `false'
{cover_export_enabled, true}.

{lib_dirs, ["apps", "deps"]}.
{sub_dirs, ["apps/*"]}.
{deps_dir, "deps"}.
{deps, [
]}.
